@use '../../styles/variables' as *;

$pianoColorBorder: #1a1a1a;

.PianoKeyboard {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: $keyboardMargin;
    border: $keyboardBorderWidth solid $pianoColorBorder;
    border-radius: $keyboardBorderWidth;
    user-select: none;
}